@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 102px;
  line-height: 120px;
  color: #222222;
}

h2 {
  font-family: 'Fira Sans';
  font-size: 34px;
  line-height: 41px;
  padding: 1rem 0;
}

h4 {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  padding: 1.125rem 0
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  max-width: 1440px;
  margin: auto;
  font-family: 'Fira Sans', sans-serif;
}

/*HEADER*/
header {
  background-color: #3DE07E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 37.5rem
}

.header__nav {
  align-self: flex-start;
  margin: 1rem;
}

.header__nav ul li {
  margin: .5rem
}

.header__nav ul li:hover a {
  background-color: black;
  color: white
}

.header__nav ul li a {
  color: black;
  font-size: 1.5rem;
  padding: .5rem;
  letter-spacing: .20em;
}

.header__nav ul li:not(:last-child) {
  display: none;
}

main {
  min-height: 50vh;
}

/*CARDS*/
.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.card {
  display: flex;
  margin: 1.5rem 1rem;
  flex-direction: column;
  font-family: 'Fira Sans';
  font-size: 1rem;
  line-height: 140%;
  width: 100%;
  max-width: 18rem;
  color: #FFFFFF;
}

.card:nth-child(10), .card:last-child {
  max-width: 29rem;
  color: #222222;
  background-color: #FFFFFF;
}

.card:nth-child(10) div, .card:last-child div {
  padding: 1rem
}

.card button {
  padding: 8px 16px;
  background: #E83F57;
  border-radius: 4px;
  margin-top: 2.5rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  align-self: flex-start;
}


/*FOOTER*/
footer {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 3rem 13rem;
}

footer .footer__social-media div {
  display: flex;
  max-width: 11rem;
  justify-content: space-between;
}

i {
  font-size: 1.75rem;
}

footer p, footer a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

footer a:hover {
  color:#3DE07E
}

